.Joke {
  display: flex;
  border-bottom: 2px solid #eeee;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  padding: 1rem;
}

.Joke-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin-right: 1rem;
}

.Joke-text {
  width: 75%;
  font-size: 1.2rem;
}

.Joke-votes {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  border: 3px solid red;
  text-align: center;
  font-size: 20px;
  font-weight: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fa-arrow-up,
.fa-arrow-down {
  font-size: 1.5rem;
  color: #a5abec;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.fa-arrow-up:hover {
  animation: move-up;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  color: green;
}
.fa-arrow-down:hover {
  animation: move-down;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  color: red;
}
.Joke-smiley {
  font-size: 2.5rem;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 0.3rem;
  background: white;

}
.Joke-smiley:hover {
  animation-name: spin;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  background: #a5abec;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes move-up {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-5px);
  }
}
@keyframes move-down {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(5px);
  }
}
