.JokeList {
  display: flex;
  width: 90%;
  height: 95%;
}

.JokeList-sidebar {
  background: #a5abec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 2;
}
.JokeList-sidebar img:hover {
  animation-name: shake-slow;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
}
.JokeList-title {
  font-size: 4rem;
  margin: 2rem;
  color: white;
  font-weight: 400;
  letter-spacing: 0.4rem;
}

.JokeList-spinner {
  color: white;
  text-align: center;
}
.JokeList-circle {
  width: 95%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.JokeList-title span {
  font-weight: 700;
  letter-spacing: 0;
}

.JokeList-sidebar img {
  padding: 0;
  width: 100%;
  height: 80%;
}

.JokeList-jokes {
  height: 90%;
  background: white;
  align-self: center;
  width: 70%;
  overflow: scroll;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.JokeList-getmore {
  font-size: 1rem;
  width: 50%;
  border-radius: 1.5rem;
  padding: 0.8rem;
  background: linear-gradient(
    135deg,
    rgb(206, 71, 71) 20%,
    rgb(206, 71, 71) 50%,
    rgb(122, 128, 199) 100%
  );
  font-family: 'Rubik', sans-serif;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: 0.8s ease;
}

.JokeList-getmore:hover {
  background: linear-gradient(
    135deg,
    rgb(122, 128, 199) 20%,
    rgb(122, 128, 199) 50%,
    rgb(206, 71, 71) 100%
  );
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transform: scale(1.1);
}

.JokeList-circle:hover {
  box-shadow: rgb(247, 247, 247) 0px 4px 16px, rgb(255, 255, 255) 0px 8px 24px,
    rgb(254, 254, 254) 0px 16px 56px;
}

@keyframes shake-slow {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
