.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(206, 71, 71) 20%,
    rgb(206, 71, 71) 50%,
    rgb(122, 128, 199) 100%
  );
  font-family: 'Rubik', sans-serif;
  color: #78909c;
}
